<div class="form-style">
<form method="post" action="/brands">
<fieldset>
  <legend>New Brand Info</legend>
  <input id="name" type="text" name="brand_name" placeholder="Enter brand name" />
  <br/>
  <input id="picture" type="text" name="picture" placeholder="Enter picture url/link" />
  <br/>
  <label for="description">Description:</label>
  <textarea id="description" name="description" rows="10" cols="30" placeholder="Enter brand description"></textarea>
  <br/>
</fieldset>
  <input type="submit" value="Create Brand"/>
</form>
</div>