<form method="post" action="/brands">
  <label for="name">Name:</label>
  <input id="name" type="text" name="brand_name"/>
  <br/>
  <label for="picture">Picture:</label>
  <input id="picture" type="text" name="picture"/>
  <br/>
  <label for="description">Description:</label>
  <textarea id="description" name="description" rows="10" cols="30"></textarea>
  <br/>
  <input type="submit" value="Create Brand"/>
</form>