<form method="post" action="/plushies">
  <label for="name">Name:</label>
  <input id="name" type="text" name="name"/>
  <br/>
  <br/>
  <label for="brand-select">Brand:</label>
    <% @brands.each do |brand| %>
    <br/>
    <input type="radio" name="brand_id"><%= brand.brand_name %>
    <% end %>
  <br/>
  <br/>
  <label for="quantity">Quantity:</label>
  <input id="quantity" type="number" name="quantity"/>
  <br/>
  <br/>
  <label for="picture">Picture:</label>
  <input id="picture" type="text" name="picture"/>
  <br/>
  <br/>
  <label for="rating">Rating:</label>
  <input id="rating" type="number" name="rating"/>
  <br/>
  <br/>
  <input type="submit" value="Create Plushie"/>
</form>