<!DOCTYPE html>
<html>
<head>
  <title>Joojoo's Plushie Shop</title>
  <link rel="icon" href="https://s-media-cache-ak0.pinimg.com/originals/58/0f/a7/580fa716ca8205191ce213d8b74aacc3.jpg">
  <link href="https://fonts.googleapis.com/css?family=Monoton|Bubblegum+Sans" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/ratings.css">
</head>
<body>
  <button class="back-button"><a href="/plushies">Back to All Plushies</a></button>
  <div class="ratings">
  <strong><% @plushies = Plushie.order_by_rating %>
  <% @plushies.each do |plushie| %>
  <%= plushie.name %>
  <br/>
  <% end %>
  </strong> 
  </div>
</body>
</html>