body {
  text-align: center;
  color: white;
  background: linear-gradient(#003737, #60002A);
  background-position: center center;
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
