body {
  color: white;
  background-image: url("http://cdn.wallpapersafari.com/90/53/r0EOQ6.jpg");
  background-position: center center;
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
