body {
  text-align: center;
  color: white;
  background: linear-gradient(#003737, #60002A);
  background-position: center center;
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0;
}

nav {
  list-style-type: none;
  margin: 10px;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: inline;
  font-family: 'Montserrat Alternates', cursive;
}

li {
  float: center;
}

li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}