body {
  color: white;
  background-image: url("http://cdn.wallpapersafari.com/90/53/r0EOQ6.jpg");
  background-position: center center;
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.plushie_table {
  color: black;
  background-color: wheat;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.plushie_table td, th {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
}

.plushie_table tr:nth-child(even) {
  background-color: salmon;
}

td.HIGH {
  background-color: green;
  color: white;
}

td.MEDIUM {
  background-color: orange;
  color: white;
}

td.LOW {
  background-color: red;
  color: white;
}

.plushie-image {
  max-width: 100px;
  max-height: 100px;
}

.brand-image {
  max-width: 100px;
  max-height: 100px;
}

.brand_table {
  color: black;
  background-color: salmon;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.brand_table td, th {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
}

.brand_table tr:nth-child(even) {
  background-color: wheat;
}

textarea {
  vertical-align: top; 
}​
