body {
  background-color: dodgerblue;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: salmon;
}

.HIGH {
  background-color: green;
  color: white;
}

.MEDIUM {
  background-color: orange;
  color: white;
}

.LOW {
  background-color: red;
  color: white;
}

.plushie-image {
  max-width: 110px;
  max-height: 110px;
}