
.plushie_table {
  color: black;
  background-color: wheat;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.plushie_table td, th {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
}

.plushie_table tr:nth-child(even) {
  background-color: #A7364E;
}

td.HIGH {
  background-color: green;
  color: white;
}

td.MEDIUM {
  background-color: orange;
  color: white;
}

td.LOW {
  background-color: red;
  color: white;
}

.plushie-image {
  max-width: 100px;
  max-height: 100px;
}

.brand-image {
  max-width: 100px;
  max-height: 100px;
}

.brand_table {
  color: black;
  background-color: salmon;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.brand_table td, th {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
}

.brand_table tr:nth-child(even) {
  background-color: wheat;
}

.star-ratings-sprite {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
  font-size: 0;
  height: 21px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 110px;
  margin: 0 auto;
}

.star-ratings-sprite-rating {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
  background-position: 0 100%;
  float: left;
  height: 21px;
  display:block;
}