<!DOCTYPE html>
<html>
<head>
  <title>Joojoo's Plushie Shop</title>
  <link rel="icon" href="https://s-media-cache-ak0.pinimg.com/originals/58/0f/a7/580fa716ca8205191ce213d8b74aacc3.jpg">
  <link href="https://fonts.googleapis.com/css?family=Rochester" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/homepage.css">
</head>
<body>
  <div class="hero-image">
    <div class="hero-text">
      <h1>Joojoo's Plushie Shop</h1>
      <h2>Inventory</h2>
      <button><a href="/plushies">Welcome</a></button>
    </div>
  </div>
</body>
</html>