<!DOCTYPE html>
<html>
<head>
  <title>Joojoo's Plushie Shop</title>
  <link rel="icon" href="https://cdn.shopify.com/s/files/1/0584/3841/products/plush-stache-labbit-small-plush-white-1.jpg?v=1448505854">
  <link href="https://fonts.googleapis.com/css?family=Rochester" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/homepage.css">
</head>
<body>
  <div class="hero-image">
    <div class="hero-text">
      <h1>Joojoo's Plushie Shop</h1>
      <h2>Inventory</h2>
      <button><a href="/plushies">Welcome</a></button>
    </div>
  </div>
</body>
</html>