<!DOCTYPE html>
<html>
<head>
  <title>Joojoo's Plushie Shop</title>
  <link rel="icon" href="https://s-media-cache-ak0.pinimg.com/originals/58/0f/a7/580fa716ca8205191ce213d8b74aacc3.jpg">
  <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates|Pangolin|Baloo+Bhaina|Special+Elite|Permanent+Marker" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/structure.css">
  <link rel="stylesheet" type="text/css" href="/tables.css">
  <link rel="stylesheet" type="text/css" href="/buttons.css">
  <link rel="stylesheet" type="text/css" href="/forms.css">
</head>
<body>
  <nav>
    <li><a href="/">Homepage</a></li>
    </br>
    <li><a href="/brands">All Brands</a></li>
    </br>
    <li><a href="/brands/new">Create New Brand</a></li>
    </br>
    <li><a href="/plushies">All Plushies</a></li>
    </br>
    <li><a href="/plushies/new">Create New Plushie</a></li>
  </nav>
  <br>
  <%= yield %>
</body>
</html>