<!DOCTYPE html>
<html>
<head>
  <title>Joojoo's Plushie Shop</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <nav>
    <a href="/plushies">All Plushies</a>
    </br>
    <a href="/students/new">Create New Plushie</a>
  </nav>
  <%= yield %>
</body>
</html>